
/* Sets font type for whole webpage */
* {
    font-family: 'Courier New', Courier, monospace;
}

/* For high score page button */
h5 {
    margin-top: 0;
    font-size: 13pt;
    font-weight: bold;
    color: rgb(94, 94, 223);;
}

h5:hover {
    text-decoration: underline;
    cursor: pointer;
}
/* Right and wrong answer prompts */
h4 {
    opacity: 0.6;
    border-top: 5px solid rgb(94, 94, 223);
    font-size: 17pt;
}
/* page titles */
h2 {
    font-size: 30pt;
}
/* Title page description of quiz */
#quiz-descr {
    font-size: 18pt;
}
/* for hiding content */
.hide {
    display: none;
}

/* For time display countdown */
.timeElement {
   font-size: 13pt;
   font-weight: bold;
}

/* For quiz questions */
.questions {
    font-size: 25pt;
    font-weight: bold;
}


/* Specs for choices layout in quiz */
.choiceStyle {
    padding: 20px;
    border-radius: 5px;
    list-style: none;
    border-radius: 10px 10px 10px 10px;
    font-size: 20pt;
    background-color: rgb(94, 94, 223);
    color: white;
    opacity: 0.7;
  transition: 0.3s;
    max-width: 40%;
}

.choiceStyle:hover {
    cursor: pointer;
    opacity: 1;
}

/* container for choices in quiz */
.choices {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    flex-basis: 80%;
    padding-left: 0;
}

/* Container for top of home page */
.flex-top {
    display: flex;
    padding: 3%;
    justify-content: end;
}

/* basic flex for high score page buttons */
.flex {
    display: flex;
    justify-content: center;
}

/* flex container for quiz */
.quiz-flex {
    display: flex;
    justify-content: start;
    flex-direction: column;
    padding: 25%;
    padding-top: 3%;
    padding-bottom: 3%;
}

/* flex container for whole quiz completion text and buttons */
.submit-flex {
    display: flex;
    justify-content: start;
    flex-direction: column;
    padding: 23%;
    padding-top: 5%;
    padding-bottom: 3%;
}

/* flex container for initials submit form and button */
.flex-score {
    display: flex;
    justify-content: start;
    gap: 30px;
}

/* Pushing content on completion page to the left */
.flex-left {
    display: flex;
    justify-content: start;
}

/* container for buttons on high score page */
.flex-button {
    display: flex;
    justify-content: space-evenly;
}

/* main page display */
.start-display{
    text-align: center;
    padding: 15%;
    padding-top: 5%;
}

/* setting text content on score completion page */
.end-display{
    text-align: center;
    padding: 10%;
    padding-top: 5%;
}

/* child flex setting for highscore button */
#scorePage {
flex: 1 0 0;
justify-items: end;
}

/* Start button specs */
#quizButton {
    border: 2px;
    padding: 1%;
    padding-right: 2%;
    padding-left: 2%;
    border-radius: 10px 10px 10px 10px;
    font-size: 20pt;
    background-color: rgb(94, 94, 223);
    color: white;
    opacity: 0.7;
  transition: 0.3s;
}

#quizButton:hover {
    cursor: pointer;
    opacity: 1;
}

/* submit button specs */
.submitScore {
    border: 2px;
    padding: 1%;
    padding-right: 2%;
    padding-left: 2%;
    border-radius: 10px 10px 10px 10px;
    font-size: 15pt;
    background-color: rgb(94, 94, 223);
    color: white;
    opacity: 0.7;
  transition: 0.3s;
  align-self: center;
}

.submitScore:hover {
    cursor: pointer;
    opacity: 1;
}

/* Text size for completion page besides title */
.endTest {
    font-size: 17pt;
}

/* Specs for initials form box */
.initials {
    border: 3px solid rgb(94, 94, 223);
    font-size: 15pt;
}

/* Title for high score page */
.scoreTitle {
  text-decoration: underline black;
  text-align: center;
  color: rgb(94, 94, 223) ;
}

/* page specs for both initial and final score lists */
.scoreLog {
    list-style: none;
    font-size: 20pt;
    flex: 1;
    padding: 0;
}

/* color specs for list */
.scoreLi {
    border: 3px solid black;
    margin-top: 5px; 
    background-color: rgb(94, 94, 223);
    color: white;
}
/* border adjustment for left initial list */
.initialLi {
    border-right: 0;
    padding-left: 1%;
}

/* border adjustment for right score list */
.scoreLiAdj {
    border-left: 0;
    padding-right: 1%;
}

/* try again button */
#retakeButton {
    border: 2px;
    padding: 1%;
    padding-right: 2%;
    padding-left: 2%;
    border-radius: 10px 10px 10px 10px;
    font-size: 20pt;
    background-color: rgb(94, 94, 223);
    color: white;
    opacity: 0.7;
  transition: 0.3s;
}

#retakeButton:hover {
    cursor: pointer;
    opacity: 1;
}

/* home page button */
#homePage {
    border: 2px;
    padding: 1%;
    padding-right: 2%;
    padding-left: 2%;
    border-radius: 10px 10px 10px 10px;
    font-size: 20pt;
    background-color: rgb(94, 94, 223);
    color: white;
    opacity: 0.7;
  transition: 0.3s;
}

#homePage:hover {
    cursor: pointer;
    opacity: 1;
}


/* Media queries */

@media screen and (max-width: 1400px) {
    .submit-flex {
        padding-left: 15%;
        padding-right: 15%;
    }
}

@media screen and (max-width: 1085px) {
    .submit-flex {
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (max-width: 768px) {
    .submit-flex {
        padding-left: 23%;
        padding-right: 23%;
    }

    .questions {
        font-size: 20pt;
        font-weight: bold;
    }

    .choiceStyle {
        font-size: 15pt;
        max-width: 60%;
    }

    .flex-left {
        display:block ;
    }

    .flex-score {
        display: block;
    }

    .initials {
        margin-top: 5%;
    }
  }

  @media screen and (max-width: 425px) {

    .questions {
        font-size: 18pt;
        font-weight: bold;
    }

    .choiceStyle {
        font-size: 13pt;
        max-width: 80%;
    }

    .initials {
        max-width: 90%;
    }
  }

  @media screen and (max-width: 320px) {

    h2 {
        font-size: 20pt;
    }

    .flex-button {
        display: block;
    }

    #retakeButton {
        min-width: 100%;
    }

    #homePage {
        margin-top: 5%;
        min-width: 100%;
    }
  }